# dependencies
/node_modules

# misc
npm-debug.log

# example
/quick-start

# tests
/coverage
/.nyc_output

# dist
/dist

#.env
.env.production.local
.env.development.local
.env.test.local

#MacOS
.DS_Store
